<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.lambtoncollege.quiz"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="19" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.lambtoncollege.First_Activity"
            android:screenOrientation="portrait"
            android:label="@string/app_name"
            android:process="com.lambtoncollege">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
            
        </activity>
        <activity android:name="com.lambtoncollege.MainActivity" 
            android:process="com.lambtoncollege"></activity>
        <activity android:name="com.lambtoncollege.ResultActivity" 
            android:process="com.lambtoncollege"></activity>
    </application>

</manifest>
